DATABASE_URL="" # Postgres Database URL

SECRET_KEY="not-a-secret" # 256 bit hex secret key for JWT
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

ALLOWED_SERVICES=["chess-service","lobby-service"]